singularity {
  enabled = true
  autoMounts = true
  autoCleanUp = true
}
process {
        withName:haplotypemapping {
                container = '/software/projects/pawsey0812/singularity/minimap2:2.26.sif'
}
       withName:busco {
                container = '/software/projects/pawsey0812/jdavis/busco_v5.4.3_cv1.sif'
}
        withName:haplotypesplit {
                container = '/software/projects/pawsey0812/singularity/samtools_1.16.1.sif'
}
        withName:mapping {
                container = '/software/projects/pawsey0812/singularity/minimap2:2.26.sif'
}
        withName:depthsizer {
                container = '/software/projects/pawsey0812/singularity/depthsizer:v1.8.0'
}

        withName:KAT {
                container = '/software/projects/pawsey0812/singularity/kat:2.4.1.sif'
}
        withName:PURGE_HAPLOTIGS {
                container = '/software/projects/pawsey0812/singularity/purge_haplotigs:1.1.2.sif'
}
        withName:diploidocus {
                container = '/software/projects/pawsey0812/jdavis/setonix/2023.08/containers/diploidocus.sif'
}
        withName:sam2bam {
                container = '/software/projects/pawsey0812/singularity/samtools_1.16.1.sif'
}
        withName:bam_sortindex {
                container = '/software/projects/pawsey0812/singularity/samtools_1.16.1.sif'
}
        withName:selfkat {
                container = '/software/projects/pawsey0812/singularity/kat:2.4.1.sif'
}
        withName:readpartition {
        container = '/software/projects/pawsey0812/singularity/bedtools:2.30.0.sif'
}
        executor = 'slurm'
        clusterOptions = "--account=$PAWSEY_PROJECT"
        module = 'singularity/3.11.4-slurm'
        cache = 'lenient'
        stageInMode = 'symlink'
        queue = { task.memory < 230.GB ? 'work' : (task.memory > 230.GB && task.memory <= 980.GB ? 'highmem' : '') }
        maxRetries = 3
}

executor {
  queueSize = 200
}
tower {
  accessToken = YOUR_TOKEN
  enabled = true
}
